@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  @apply text-neutral-900 antialiased;
}

@font-face {
  font-family: "Porsche Next";
  src: url("../src/assets/fonts/porsche-next-w-la-bold.woff2") format("woff2");
  font-weight: bold;
}
